.Chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.Chat-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Chat-user-time {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Chat-user-time h1 {
  width: 15rem;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Chat-message-unread {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Chat-message-unread p {
  width: 15rem;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
