.User {
  width: 100%;
}

.User:hover {
  background-color: #c4c4c4;
}

.User-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.User h1 {
  width: 20rem;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
