.ChatHeader {
  width: 100%;
  background-color: #c4c4c4;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.ChatHeader-peer {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

